/* 隐藏横向滚动条 */
.hide-scrollbar-x {
  overflow-x: auto;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scrollbar-x::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* 隐藏纵向滚动条 */
.hide-scrollbar-y {
  overflow-y: auto;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scrollbar-y::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* 隐藏所有滚动条 */
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* 文本不可选中 */
.text-no-select {
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE10+/Edge */
  user-select: none;          /* Standard */
}